name: TV-Multiplatform Build
on:
  workflow_dispatch:
  push:
    tags:
      - v*.*.*
jobs:
  build-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - run: ls
      - run: ./gradlew packageReleaseDistributionForCurrentOS
      - run: ./gradlew createReleaseDistributable
      - run: ls && tree ./desktopApp /f
      - name: compress
        shell: pwsh
        run: Compress-Archive -Path "./composeApp/build/compose/binaries/main-release/app/TV" -DestinationPath ./TV-win-$Env:GITHUB_REF_NAME.zip
      - name: move result to root
        shell: pwsh
        run: Move-Item -Path "./composeApp/build/compose/binaries/main-release/app/*.zip" -Destination "./" && Move-Item -Path "./composeApp/build/compose/binaries/main-release/msi/*.msi" -Destination "./"
      - run: ls
      - uses: actions/upload-artifact@v4
        with:
          name: win-file
          path: |
            *.msi
            *.zip
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - run: ls
      - run: chmod +x ./gradlew && ./gradlew createReleaseDistributable
      - run: ./gradlew packageReleaseDistributionForCurrentOS
      - run: ls && tree
      - name: compress
        run: cd ./composeApp/build/compose/binaries/main-release/app && zip -q -r ./TV-linux-$GITHUB_REF_NAME.zip ./TV
      - name: move file
        run: mv ./composeApp/build/compose/binaries/main-release/deb/*.deb ./ && mv ./composeApp/build/compose/binaries/main-release/app/*.zip ./
      - run: ls
      - uses: actions/upload-artifact@v4
        with:
          name: linux-file
          path: |
            *.deb
            *.zip
            #            https://github.com/JetBrains/compose-multiplatform/blob/master/tutorials/Signing_and_notarization_on_macOS/README.md
  build-mac:
    runs-on: macos-latest
    steps:
       - uses: actions/checkout@v4
       - uses: actions/setup-java@v4
         with:
           distribution: 'temurin'
           java-version: 17
       - run: ls
       - run: chmod +x ./gradlew && ./gradlew createReleaseDistributable
       - run: ./gradlew packageReleaseDistributionForCurrentOS
       - run: ls && tree
       - name: compress
         run: zip -q -r ./TV-$GITHUB_REF_NAME.zip ./composeApp/build/compose/binaries/main-release/app
       - name: move file
         run: mv ./composeApp/build/compose/binaries/main-release/pkg/*.pkg ./ && mv ./composeApp/build/compose/binaries/main-release/pkg/*.pkg ./
       - run: ls
       - uses: actions/upload-artifact@v4
         with:
           name: mac-file
           path: |
             *.pkg
             *.dmg
             *.zip
  release:
    runs-on: ubuntu-latest
    needs: [ build-win, build-linux, build-mac]
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
      - run: ls && tree
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            **/*.zip
            **/*.deb
            **/*.pkg
            **/*.dmg
            **/*.msi
    permissions:
      contents: write